@import (once) "include/vars";
@import (once) "include/mixins";

.datepicker {
    position: relative;

}

.datepicker {
    .calendar {
        position: absolute;
        top: 100%;
        left: 0;
        display: block;
        z-index: @zindex-absolute;

        &.open {
            //display: block;
        }
    }
}