@import (once) "include/vars";
@import (once) "include/mixins";

.h-menu {
    list-style: none inside;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    & > li, & > li > a {
        display: block;
        position: relative;
    }

    & > li > a {
        font-weight: normal;
        color: lighten(@dark, 10%);
        font-size: .875rem;
        outline: none;
        text-decoration: none;
        padding: .5rem 1rem;
        border: none;

        &:hover {
            background-color: darken(@light, 5%);
        }

        &.dropdown-toggle {
            padding-right: 2rem!important;
            &::before {
                margin-left: -1.25rem;
            }
        }
    }

    & > li {
        &:hover {
            text-decoration: none;
            background-color: darken(@light, 5%);

            & > a, .icon {
                color: @dark;
            }
        }
    }

    &.no-hover {
        & > li > a {
            //padding: .5rem .75rem;
            color: lighten(@dark, 30%);
        }

        & > li:hover, & > li > a:hover {
            background-color: transparent;
            color: @dark;
        }
    }

    &.large > li > a {
        padding: 1.125rem 1.625rem;
        font-size: 2rem;
    }

    & > .divider {
        display: none;
    }
}

.d-menu {
    position: absolute;
    display: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none inside none;
    background-color: @white;
    color: @dark;
    z-index: @zindex-dropdown;
    .default-shadow();

    .d-menu {
        left: 100%;
        top: -.5rem;
    }

    &.open {
        display: block;
    }

    &.place-right {
        left: auto;
        right: 0;
    }
}

.d-menu {
    li {
        display: block;
        float: none;
        position: relative;
        cursor: pointer;
    }

    li {
        a {
            color: @dark;
            font-size: .875rem;
            display: block;
            float: none;
            padding: .75rem 2rem .75rem 2.5rem;
            text-decoration: none;
            vertical-align: middle;
            position: relative;
            white-space: nowrap;
            min-width: 12.5rem;
            border: none;


            img, .icon {
                position: absolute;
                left: .875rem;
                top: 50%;
                margin-top: -.5625rem;
                color: @dark;
                max-height: 1.125rem;
                font-size: 1.125rem;
                display: inline-block;
                margin-right: .3125rem;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
            }
        }

        &.active {
            border-left: 2px solid;
            border-color: darken(@light, 10%);

            & > a {
                background-color: @lightCyan;
                color: @white;
                font-weight: bold;
            }
        }


        &:hover {
            text-decoration: none;
            background-color: darken(@light, 5%);

            & > a, .icon {
                color: @dark;
            }
        }

        a[data-hotkey] {
            padding-right: 3.2rem;
            &:after {
                content: attr(data-hotkey);
                position: absolute;
                right: 1.2rem;
                width: auto;
                font-size: .8em;
            }
        }

        a {
            &.dropdown-toggle {
                &::before {
                    transform: rotate(-135deg);
                }

                &.active-toggle {
                    &::before {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    .divider {
        padding: 0;
        height: 1px;
        margin: 0 1px;
        overflow: hidden;
        background-color: lighten(#e5e5e5, 5%);
        cursor: default;
        &:hover {
            background-color: lighten(#e5e5e5, 5%);
        }
    }

    &.disabled {
        cursor: default;
        pointer-events: none;
        a {
            color: @lightGray;
        }
    }
}

.drop-left {
    right: 100%;
    top: 0;
}

.drop-right {
    left: 100%;
    top: 0;
}

.drop-up {
    top: auto;
    bottom: 100%;
}
