@font-face {
    font-family: 'icons';
    src: url('../icons/metro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class*=mif-] {
    speak: none;
    display: inline-block;
    font: normal normal normal 16px/1;
    font-family: 'icons', 'Roboto', 'Noto Sans', sans-serif;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.mif-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.mif-2x {
    transform: scale(1.5);
}
.mif-3x {
    transform: scale(2);
}
.mif-4x {
    transform: scale(2.5);
}
.mif-5x {
    transform: scale(3);
}

@import "icons";