@import (once) "include/vars";
@import (once) "include/mixins";

@navviewPaneWidth: 280px;
@navviewPaneWidthCompact: 48px;
@navviewPaneItemHeight: 40px;

@navviewPaneBackground: #e5e5e5;
@navviewPaneItemHover: #cecece;
@navviewPaneItemActive: #b7b7b7;
@navviewPaneItemFocus: #0a0a0a;
@navviewPaneItemDisabled: #9c9c9c;


.navview {
    display: block;
    position: relative;
    background-color: @white;
    color: @dark;
    overflow: hidden;
}

.navview {

    .navview-pane, .navview-content {
        display: block;
        transition: all .1s linear;
    }

    .navview-pane {
        flex-shrink: 0;
        flex-grow: 0;
        width: @navviewPaneWidthCompact;
        background-color: @navviewPaneBackground;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        .translate3d(-100%);

        &.open {
            .translate3d(0);
        }
    }

    .navview-content {
        width: 100%;
        position: relative;
    }
}

.navview {
    .pull-button, .holder {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: inherit;
        margin-bottom: 8px;
        border: 2px solid transparent;
        outline: none;
        cursor: pointer;
    }

    .holder {
        height: 40px;
    }

    .navview-menu {
        display: block;
        position: relative;
        list-style: none inside;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
            display: block;
            position: relative;
            height: @navviewPaneItemHeight;
        }

        li {
            a {
                display: flex;
                align-items: center;
                position: relative;
                height: 100%;
                line-height: @navviewPaneItemHeight;
                text-decoration: none;
                color: inherit;
                white-space: nowrap;
                border: 2px solid transparent;
            }
        }

        .icon {
            width: 48px;
            height: 40px;
            display: block;
            text-align: center;
        }

        .caption {
            padding-left: 48px;
            white-space: nowrap;
            display: none;
        }

        .icon + .caption {
            padding-left: 0;
        }

        .item-header {
            font-size: 22px;
            height: 32px;
            line-height: 32px;
            padding-left: 16px;
            cursor: default;
            background-color: transparent;
            white-space: nowrap;
            display: none;
        }

        li {
            &.active {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 24px;
                    top: 8px;
                    left: 0;
                    width: 4px;
                    background-color: @cyan;
                    z-index: 1;
                }
            }

            &.disabled {
                color: @navviewPaneItemDisabled!important;

                img {
                    opacity: .5;
                }
            }
        }
    }

    .pull-button, .navview-menu .icon, .suggest-box .holder {
        & > * {
            width: 16px;
            height: 16px;
            line-height: 16px;
            font-size: 16px;
            vertical-align: initial;
        }
    }

    .pull-button, .holder, .navview-menu li a {

        &:hover {
            background-color: @navviewPaneItemHover;
        }

        &:active {
            background-color: @navviewPaneItemActive;
        }

        &:focus {
            border: 2px solid @navviewPaneItemFocus;
        }
    }

    .suggest-box {
        display: block;

        .input {
            display: none;
            width: ~"calc(100% - 24px)"!important;
            margin: 0 12px;
        }
    }

    .item-separator {
        height: 16px!important;
        width: 100%;
        display: block;
        background-color: transparent;
        cursor: default;
    }
}

.navview-compact(){
    .navview-pane {
        width: @navviewPaneWidthCompact;
        .translate3d(0);
    }
    .navview-content {
        margin-left: @navviewPaneWidthCompact;
    }
}

.navview-expanded(){
    .navview-pane {
        width: @navviewPaneWidth;
        .translate3d(0);

        .navview-menu {
            .caption {
                display: block;
            }
        }

        .suggest-box {
            .input {
                display: flex;
            }
        }

        .item-header {
            display: block;
        }

        .holder {
            display: none;
        }
    }
    .navview-content {
        margin-left: @navviewPaneWidth;
    }
}

.generate-navview-media-options(@mediaBreakpointListMobileLength);
.generate-navview-media-options(@name, @i: 1) when (@i <= @mediaBreakpointListMobileLength) {
    @m: extract(@mediaBreakpointListMobile, @i);

    @media screen and (min-width: @@m) {

        .navview-margin-@{m} {margin-left: @navviewPaneWidth;}
        .navview-margin-compact-@{m} {margin-left: @navviewPaneWidthCompact;}

        .navview {
            &.compact-@{m} {
                .navview-compact();
            }
            &.expanded-@{m} {
                .navview-expanded();
            }
        }
    }

    .generate-navview-media-options(@name, @i + 1);
}