@import (once) "include/vars";
@import (once) "include/mixins";

.popover {
    display: block;
    min-width: 12.5rem;
    height: auto;
    position: fixed;
    padding: 1.25rem;
    background-color: @white;
    color: @dark;
    z-index: @zindex-tooltip;
    border: 1px solid @borderColor;
}