@import (once) "include/vars";
@import (once) "include/mixins";

.popover {
    display: block;
    min-width: 12.5rem;
    height: auto;
    position: fixed;
    padding: 1.25rem;
    background-color: @darkGray;
    color: @white;
    z-index: @zindex-tooltip;

    .neb(.625rem, .625rem);
}