@import (once) "include/vars";
@import (once) "include/mixins";

.timepicker {
    display: inline-flex;
    flex-flow: row nowrap;
    position: relative;
    border: 1px solid @borderColor;
    width: 100%;
    cursor: default;
    background-color: @white;
    color: @dark;
    height: 38px;
    user-select: none;
}

.timepicker {
    .hideElement(input);

    .hours, .minutes, .seconds, .ampm {
        display: block;
        flex: 1;
        border: 1px solid @borderColor;
        text-align: center;
        height: 38px;
        line-height: 38px;
    }

    .select-wrapper {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        height: 314px;
        z-index: 1;
        width: 100%;
        //.translate3d(0, -50%, 0);
    }

    .select-block {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        flex-shrink: 0;
        background-color: #f2f2f2;
        height: 280px;
        //visibility: hidden;

        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 0;
            height: 40px;
            background-color: rgba(red(@cyan), green(@cyan), blue(@cyan), .5);
            top: 120px;
            left: 0;
            width: 100%;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none inside;
            display: block;
            text-align: center;
            height: 100%;
            z-index: 1;
            flex: 1;
            border: 1px solid @borderColor;

            overflow-y: auto;
            &::-webkit-scrollbar {
                display: none!important;
            }
            -ms-overflow-style: -ms-autohiding-scrollbar;


            li {
                display: block;
                height: 40px;
                line-height: 40px;
            }
        }
    }

    .action-block {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        width: 100%;

        & > * {
            flex: 1;
        }
    }
}