@import (once) "include/vars";
@import (once) "include/mixins";

.timepicker {
    .hideElement(input);

    .hours, .minutes, .seconds, .ampm {
        display: block;
        flex: 1;
        border: 1px solid @borderColor;
        text-align: center;
        height: 38px;
        line-height: 38px;
    }
}