@import (once) "include/vars";
@import (once) "include/mixins";

.clear, .clear-float, .clear-fix {
    .clear()
}

.place-right, .float-right {float: right !important;}
.place-left, .float-left {float: left !important;}
.place-none, .float-none, .no-float {float: none !important;}

.no-margin {margin: 0 !important;}
.no-margin-right {margin-right: 0 !important;}
.no-margin-left {margin-left: 0 !important;}
.no-margin-top {margin-top: 0 !important;}
.no-margin-bottom {margin-bottom: 0 !important;}
.no-padding {padding: 0 !important;}
.no-padding-left {padding-left: 0 !important;}
.no-padding-right {padding-right: 0 !important;}
.no-padding-top {padding-top: 0 !important;}
.no-padding-bottom {padding-bottom: 0 !important;}
.no-visible {visibility: hidden !important;}
.no-overflow {overflow: hidden !important;}
.no-scroll {overflow: hidden !important;}
.no-scroll-x {overflow-x: hidden !important;}
.no-scroll-y {overflow-y: hidden !important;}
.no-wrap {white-space: nowrap !important;}
.no-border {border: 0 !important;}
.no-border-left {border-left: none !important;}
.no-border-right {border-right: none !important;}
.no-border-top {border-top: none !important;}
.no-border-bottom {border-bottom: none !important;}
.no-border-visible {border-color: transparent !important;}
.no-user-select {user-select: none !important;}
.no-appearance {appearance: none !important;}

.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}

.generate-padding-and-margin(@i, @k: 1) when (@k =< @i) {
    .p-@{k} {padding: unit(@k * 8 / 16, rem) !important;}
    .pr-@{k} {padding-right: unit(@k * 8 / 16, rem) !important;}
    .pl-@{k} {padding-left: unit(@k * 8 / 16, rem) !important;}
    .pt-@{k} {padding-top: unit(@k * 8 / 16, rem) !important;}
    .pb-@{k} {padding-bottom: unit(@k * 8 / 16, rem) !important;}
    .m-@{k} {margin: unit(@k * 8 / 16, rem) !important;}
    .mr-@{k} {margin-right: unit(@k * 8 / 16, rem) !important;}
    .ml-@{k} {margin-left: unit(@k * 8 / 16, rem) !important;}
    .mt-@{k} {margin-top: unit(@k * 8 / 16, rem) !important;}
    .mb-@{k} {margin-bottom: unit(@k * 8 / 16, rem) !important;}

    .generate-padding-and-margin(@i, @k + 1);
}
.generate-padding-and-margin(10);

.p-0 {padding: 0!important;}
.pl-0 {padding-left: 0!important;}
.pr-0 {padding-right: 0!important;}
.pt-0 {padding-top: 0!important;}
.pb-0 {padding-bottom: 0!important;}
.m-0 {margin: 0!important;}
.ml-0 {margin-left: 0!important;}
.mr-0 {margin-right: 0!important;}
.mt-0 {margin-top: 0!important;}
.mb-0 {margin-bottom: 0!important;}

.border {border: 1px solid @transparent;}
.border-left {border-left: 1px solid @transparent;}
.border-right {border-right: 1px solid @transparent;}
.border-top {border-top: 1px solid @transparent;}
.border-bottom {border-bottom: 1px solid @transparent;}
.border-radius {.px2rem(border-radius, 4px);}
.border-radius-half {border-radius: 50%;}

.generate-border-width(10);
.generate-border-width(@i) when (@i > 0) {

    .border-@{i} {border-width: unit(@i / 16, rem);}

    .generate-border-width(@i - 1);
}

.rounded {
    border-radius: .25rem !important;
}

.generate-width(4);
.generate-width(@i) when (@i > 0) {

    @s: @i * 25;

    .w-@{s} {width: @i * 25 + 0% !important;}
    .h-@{s} {height: @i * 25 + 0% !important;}

    .generate-width(@i - 1);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    .px2rem(padding-top, 30px);
    height:0;
    overflow:hidden;
}

.video-container {
    iframe, object, embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

.fixed-top, .fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
}

.fixed-top {
    top: 0;
}

.fixed-bottom {
    bottom: 0;
}

.d-none {display: none!important;}
.d-block {display: block!important;}
.d-inline {display: inline!important;}
.d-inline-block {display: inline-block!important;}
.d-table {display: table!important;}
.d-table-row {display: table-row!important;}
.d-table-cell {display: table-cell!important;}
.d-flex {display: flex!important;}
.d-inline-flex {display: inline-flex!important;}

// Utils media

.generate-utils-media-options(@mediaBreakpointListMobileLength);
.generate-utils-media-options(@name, @i: 1) when (@i <= @mediaBreakpointListMobileLength) {
    @m: extract(@mediaBreakpointListMobile, @i);

    @media screen and (min-width: @@m) {

        .d-none-@{m} {display: none!important;}
        .d-block-@{m} {display: block!important;}
        .d-inline-@{m} {display: inline!important;}
        .d-inline-block-@{m} {display: inline-block!important;}
        .d-table-@{m} {display: table!important;}
        .d-table-row-@{m} {display: table-row!important;}
        .d-table-cell-@{m} {display: table-cell!important;}
        .d-flex-@{m} {display: flex!important;}
        .d-inline-flex-@{m} {display: inline-flex!important;}

        .mx-auto-@{m} {
            margin-left: auto!important;
            margin-right: auto!important;
        }

        .generate-media-padding(@j, @k: 1) when (@k =< @j) {
            .p-@{m}-@{k} {padding: unit(@k * 8 / 16, rem) !important;}
            .pr-@{m}-@{k} {padding-right: unit(@k * 8 / 16, rem) !important;}
            .pl-@{m}-@{k} {padding-left: unit(@k * 8 / 16, rem) !important;}
            .pt-@{m}-@{k} {padding-top: unit(@k * 8 / 16, rem) !important;}
            .pb-@{m}-@{k} {padding-bottom: unit(@k * 8 / 16, rem) !important;}
            .m-@{m}-@{k} {margin: unit(@k * 8 / 16, rem) !important;}
            .mr-@{m}-@{k} {margin-right: unit(@k * 8 / 16, rem) !important;}
            .ml-@{m}-@{k} {margin-left: unit(@k * 8 / 16, rem) !important;}
            .mt-@{m}-@{k} {margin-top: unit(@k * 8 / 16, rem) !important;}
            .mb-@{m}-@{k} {margin-bottom: unit(@k * 8 / 16, rem) !important;}

            .generate-media-padding(@j, (@k + 1));
        }
        .generate-media-padding(10);


        .generate-width(4);
        .generate-width(@i) when (@i > 0) {

            @s: @i * 25;

            .w-@{s}-@{m} {width: @i * 25 + 0% !important;}
            .h-@{s}-@{m} {height: @i * 25 + 0% !important;}

            .generate-width(@i - 1);
        }
    }

    .generate-utils-media-options(@name, @i + 1);
}
