.fg-c1 {
  color: #00bcd4 !important;
}
.bg-c1 {
  background-color: #00bcd4 !important;
}
.bd-c1 {
  border-color: #00bcd4 !important;
}
.ol-c1 {
  outline-color: #00bcd4 !important;
}
.fg-c1-active:active {
  color: #00bcd4 !important;
}
.fg-c1-hover:hover {
  color: #00bcd4 !important;
}
.fg-c1-focus:focus {
  color: #00bcd4 !important;
}
.bg-c1-active:active {
  background-color: #00bcd4 !important;
}
.bg-c1-hover:hover {
  background-color: #00bcd4 !important;
}
.bg-c1-focus:focus {
  background-color: #00bcd4 !important;
}
.bd-c1-active:active {
  border-color: #00bcd4 !important;
}
.bd-c1-hover:hover {
  border-color: #00bcd4 !important;
}
.bd-c1-focus:focus {
  border-color: #00bcd4 !important;
}
.ol-c1-active:active {
  outline-color: #00bcd4 !important;
}
.ol-c1-hover:hover {
  outline-color: #00bcd4 !important;
}
.ol-c1-focus:focus {
  outline-color: #00bcd4 !important;
}
.ribbed-c1 {
  background: #00bcd4 linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 20px 20px !important;
}
.before-bg-c1::before {
  background: #00bcd4 !important;
}
.before-fg-c1::before {
  color: #00bcd4 !important;
}
.after-bg-c1::after {
  background: #00bcd4 !important;
}
.after-fg-c1::after {
  color: #00bcd4 !important;
}
.op-c1 {
  background-color: rgba(0, 188, 212, 0.7) !important;
}
.tg-c1::before {
  border-color: #00bcd4;
}
.fg-c2 {
  color: #03a9f4 !important;
}
.bg-c2 {
  background-color: #03a9f4 !important;
}
.bd-c2 {
  border-color: #03a9f4 !important;
}
.ol-c2 {
  outline-color: #03a9f4 !important;
}
.fg-c2-active:active {
  color: #03a9f4 !important;
}
.fg-c2-hover:hover {
  color: #03a9f4 !important;
}
.fg-c2-focus:focus {
  color: #03a9f4 !important;
}
.bg-c2-active:active {
  background-color: #03a9f4 !important;
}
.bg-c2-hover:hover {
  background-color: #03a9f4 !important;
}
.bg-c2-focus:focus {
  background-color: #03a9f4 !important;
}
.bd-c2-active:active {
  border-color: #03a9f4 !important;
}
.bd-c2-hover:hover {
  border-color: #03a9f4 !important;
}
.bd-c2-focus:focus {
  border-color: #03a9f4 !important;
}
.ol-c2-active:active {
  outline-color: #03a9f4 !important;
}
.ol-c2-hover:hover {
  outline-color: #03a9f4 !important;
}
.ol-c2-focus:focus {
  outline-color: #03a9f4 !important;
}
.ribbed-c2 {
  background: #03a9f4 linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 20px 20px !important;
}
.before-bg-c2::before {
  background: #03a9f4 !important;
}
.before-fg-c2::before {
  color: #03a9f4 !important;
}
.after-bg-c2::after {
  background: #03a9f4 !important;
}
.after-fg-c2::after {
  color: #03a9f4 !important;
}
.op-c2 {
  background-color: rgba(3, 169, 244, 0.7) !important;
}
.tg-c2::before {
  border-color: #03a9f4;
}
.fg-c3 {
  color: #ff9800 !important;
}
.bg-c3 {
  background-color: #ff9800 !important;
}
.bd-c3 {
  border-color: #ff9800 !important;
}
.ol-c3 {
  outline-color: #ff9800 !important;
}
.fg-c3-active:active {
  color: #ff9800 !important;
}
.fg-c3-hover:hover {
  color: #ff9800 !important;
}
.fg-c3-focus:focus {
  color: #ff9800 !important;
}
.bg-c3-active:active {
  background-color: #ff9800 !important;
}
.bg-c3-hover:hover {
  background-color: #ff9800 !important;
}
.bg-c3-focus:focus {
  background-color: #ff9800 !important;
}
.bd-c3-active:active {
  border-color: #ff9800 !important;
}
.bd-c3-hover:hover {
  border-color: #ff9800 !important;
}
.bd-c3-focus:focus {
  border-color: #ff9800 !important;
}
.ol-c3-active:active {
  outline-color: #ff9800 !important;
}
.ol-c3-hover:hover {
  outline-color: #ff9800 !important;
}
.ol-c3-focus:focus {
  outline-color: #ff9800 !important;
}
.ribbed-c3 {
  background: #ff9800 linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 20px 20px !important;
}
.before-bg-c3::before {
  background: #ff9800 !important;
}
.before-fg-c3::before {
  color: #ff9800 !important;
}
.after-bg-c3::after {
  background: #ff9800 !important;
}
.after-fg-c3::after {
  color: #ff9800 !important;
}
.op-c3 {
  background-color: rgba(255, 152, 0, 0.7) !important;
}
.tg-c3::before {
  border-color: #ff9800;
}
.fg-c4 {
  color: #d32f2f !important;
}
.bg-c4 {
  background-color: #d32f2f !important;
}
.bd-c4 {
  border-color: #d32f2f !important;
}
.ol-c4 {
  outline-color: #d32f2f !important;
}
.fg-c4-active:active {
  color: #d32f2f !important;
}
.fg-c4-hover:hover {
  color: #d32f2f !important;
}
.fg-c4-focus:focus {
  color: #d32f2f !important;
}
.bg-c4-active:active {
  background-color: #d32f2f !important;
}
.bg-c4-hover:hover {
  background-color: #d32f2f !important;
}
.bg-c4-focus:focus {
  background-color: #d32f2f !important;
}
.bd-c4-active:active {
  border-color: #d32f2f !important;
}
.bd-c4-hover:hover {
  border-color: #d32f2f !important;
}
.bd-c4-focus:focus {
  border-color: #d32f2f !important;
}
.ol-c4-active:active {
  outline-color: #d32f2f !important;
}
.ol-c4-hover:hover {
  outline-color: #d32f2f !important;
}
.ol-c4-focus:focus {
  outline-color: #d32f2f !important;
}
.ribbed-c4 {
  background: #d32f2f linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 20px 20px !important;
}
.before-bg-c4::before {
  background: #d32f2f !important;
}
.before-fg-c4::before {
  color: #d32f2f !important;
}
.after-bg-c4::after {
  background: #d32f2f !important;
}
.after-fg-c4::after {
  color: #d32f2f !important;
}
.op-c4 {
  background-color: rgba(211, 47, 47, 0.7) !important;
}
.tg-c4::before {
  border-color: #d32f2f;
}
.fg-c5 {
  color: #9c27b0 !important;
}
.bg-c5 {
  background-color: #9c27b0 !important;
}
.bd-c5 {
  border-color: #9c27b0 !important;
}
.ol-c5 {
  outline-color: #9c27b0 !important;
}
.fg-c5-active:active {
  color: #9c27b0 !important;
}
.fg-c5-hover:hover {
  color: #9c27b0 !important;
}
.fg-c5-focus:focus {
  color: #9c27b0 !important;
}
.bg-c5-active:active {
  background-color: #9c27b0 !important;
}
.bg-c5-hover:hover {
  background-color: #9c27b0 !important;
}
.bg-c5-focus:focus {
  background-color: #9c27b0 !important;
}
.bd-c5-active:active {
  border-color: #9c27b0 !important;
}
.bd-c5-hover:hover {
  border-color: #9c27b0 !important;
}
.bd-c5-focus:focus {
  border-color: #9c27b0 !important;
}
.ol-c5-active:active {
  outline-color: #9c27b0 !important;
}
.ol-c5-hover:hover {
  outline-color: #9c27b0 !important;
}
.ol-c5-focus:focus {
  outline-color: #9c27b0 !important;
}
.ribbed-c5 {
  background: #9c27b0 linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 20px 20px !important;
}
.before-bg-c5::before {
  background: #9c27b0 !important;
}
.before-fg-c5::before {
  color: #9c27b0 !important;
}
.after-bg-c5::after {
  background: #9c27b0 !important;
}
.after-fg-c5::after {
  color: #9c27b0 !important;
}
.op-c5 {
  background-color: rgba(156, 39, 176, 0.7) !important;
}
.tg-c5::before {
  border-color: #9c27b0;
}
.fg-c6 {
  color: #ed008c !important;
}
.bg-c6 {
  background-color: #ed008c !important;
}
.bd-c6 {
  border-color: #ed008c !important;
}
.ol-c6 {
  outline-color: #ed008c !important;
}
.fg-c6-active:active {
  color: #ed008c !important;
}
.fg-c6-hover:hover {
  color: #ed008c !important;
}
.fg-c6-focus:focus {
  color: #ed008c !important;
}
.bg-c6-active:active {
  background-color: #ed008c !important;
}
.bg-c6-hover:hover {
  background-color: #ed008c !important;
}
.bg-c6-focus:focus {
  background-color: #ed008c !important;
}
.bd-c6-active:active {
  border-color: #ed008c !important;
}
.bd-c6-hover:hover {
  border-color: #ed008c !important;
}
.bd-c6-focus:focus {
  border-color: #ed008c !important;
}
.ol-c6-active:active {
  outline-color: #ed008c !important;
}
.ol-c6-hover:hover {
  outline-color: #ed008c !important;
}
.ol-c6-focus:focus {
  outline-color: #ed008c !important;
}
.ribbed-c6 {
  background: #ed008c linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 20px 20px !important;
}
.before-bg-c6::before {
  background: #ed008c !important;
}
.before-fg-c6::before {
  color: #ed008c !important;
}
.after-bg-c6::after {
  background: #ed008c !important;
}
.after-fg-c6::after {
  color: #ed008c !important;
}
.op-c6 {
  background-color: rgba(237, 0, 140, 0.7) !important;
}
.tg-c6::before {
  border-color: #ed008c;
}
.fg-c7 {
  color: #8d6e63 !important;
}
.bg-c7 {
  background-color: #8d6e63 !important;
}
.bd-c7 {
  border-color: #8d6e63 !important;
}
.ol-c7 {
  outline-color: #8d6e63 !important;
}
.fg-c7-active:active {
  color: #8d6e63 !important;
}
.fg-c7-hover:hover {
  color: #8d6e63 !important;
}
.fg-c7-focus:focus {
  color: #8d6e63 !important;
}
.bg-c7-active:active {
  background-color: #8d6e63 !important;
}
.bg-c7-hover:hover {
  background-color: #8d6e63 !important;
}
.bg-c7-focus:focus {
  background-color: #8d6e63 !important;
}
.bd-c7-active:active {
  border-color: #8d6e63 !important;
}
.bd-c7-hover:hover {
  border-color: #8d6e63 !important;
}
.bd-c7-focus:focus {
  border-color: #8d6e63 !important;
}
.ol-c7-active:active {
  outline-color: #8d6e63 !important;
}
.ol-c7-hover:hover {
  outline-color: #8d6e63 !important;
}
.ol-c7-focus:focus {
  outline-color: #8d6e63 !important;
}
.ribbed-c7 {
  background: #8d6e63 linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 20px 20px !important;
}
.before-bg-c7::before {
  background: #8d6e63 !important;
}
.before-fg-c7::before {
  color: #8d6e63 !important;
}
.after-bg-c7::after {
  background: #8d6e63 !important;
}
.after-fg-c7::after {
  color: #8d6e63 !important;
}
.op-c7 {
  background-color: rgba(141, 110, 99, 0.7) !important;
}
.tg-c7::before {
  border-color: #8d6e63;
}
.fg-c8 {
  color: #8bc34a !important;
}
.bg-c8 {
  background-color: #8bc34a !important;
}
.bd-c8 {
  border-color: #8bc34a !important;
}
.ol-c8 {
  outline-color: #8bc34a !important;
}
.fg-c8-active:active {
  color: #8bc34a !important;
}
.fg-c8-hover:hover {
  color: #8bc34a !important;
}
.fg-c8-focus:focus {
  color: #8bc34a !important;
}
.bg-c8-active:active {
  background-color: #8bc34a !important;
}
.bg-c8-hover:hover {
  background-color: #8bc34a !important;
}
.bg-c8-focus:focus {
  background-color: #8bc34a !important;
}
.bd-c8-active:active {
  border-color: #8bc34a !important;
}
.bd-c8-hover:hover {
  border-color: #8bc34a !important;
}
.bd-c8-focus:focus {
  border-color: #8bc34a !important;
}
.ol-c8-active:active {
  outline-color: #8bc34a !important;
}
.ol-c8-hover:hover {
  outline-color: #8bc34a !important;
}
.ol-c8-focus:focus {
  outline-color: #8bc34a !important;
}
.ribbed-c8 {
  background: #8bc34a linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 20px 20px !important;
}
.before-bg-c8::before {
  background: #8bc34a !important;
}
.before-fg-c8::before {
  color: #8bc34a !important;
}
.after-bg-c8::after {
  background: #8bc34a !important;
}
.after-fg-c8::after {
  color: #8bc34a !important;
}
.op-c8 {
  background-color: rgba(139, 195, 74, 0.7) !important;
}
.tg-c8::before {
  border-color: #8bc34a;
}
.fg-c9 {
  color: #5e35b1 !important;
}
.bg-c9 {
  background-color: #5e35b1 !important;
}
.bd-c9 {
  border-color: #5e35b1 !important;
}
.ol-c9 {
  outline-color: #5e35b1 !important;
}
.fg-c9-active:active {
  color: #5e35b1 !important;
}
.fg-c9-hover:hover {
  color: #5e35b1 !important;
}
.fg-c9-focus:focus {
  color: #5e35b1 !important;
}
.bg-c9-active:active {
  background-color: #5e35b1 !important;
}
.bg-c9-hover:hover {
  background-color: #5e35b1 !important;
}
.bg-c9-focus:focus {
  background-color: #5e35b1 !important;
}
.bd-c9-active:active {
  border-color: #5e35b1 !important;
}
.bd-c9-hover:hover {
  border-color: #5e35b1 !important;
}
.bd-c9-focus:focus {
  border-color: #5e35b1 !important;
}
.ol-c9-active:active {
  outline-color: #5e35b1 !important;
}
.ol-c9-hover:hover {
  outline-color: #5e35b1 !important;
}
.ol-c9-focus:focus {
  outline-color: #5e35b1 !important;
}
.ribbed-c9 {
  background: #5e35b1 linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-size: 20px 20px !important;
}
.before-bg-c9::before {
  background: #5e35b1 !important;
}
.before-fg-c9::before {
  color: #5e35b1 !important;
}
.after-bg-c9::after {
  background: #5e35b1 !important;
}
.after-fg-c9::after {
  color: #5e35b1 !important;
}
.op-c9 {
  background-color: rgba(94, 53, 177, 0.7) !important;
}
.tg-c9::before {
  border-color: #5e35b1;
}
